body  {
    font-family: 'Six Caps', sans-serif;
    font-family: 'Buenard', serif;
    font-family: 'Averia Serif Libre', cursive;
    font-family: 'Wire One', sans-serif;

    font-family: 'Cormorant SC', serif;
    font-family: 'Cinzel', serif;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Unna', serif;
    font-family: 'Yeseva One', cursive;
    font-family: 'Dorsa', sans-serif;
    text-align: center;
    background: #ffffff;
}

.wrapper    {
    min-height: calc(100vh - 10px);
}

#name-header,
#about-header   {
    font-size: 100px;
    color: #660000;
    opacity: 0;
}

.footer {
    font-family: 'Wire One', sans-serif;
    width: 100%;
    height: 50px;
    padding-top: 7px;
    padding-bottom: 20px;
    color: #000000;
    font-size: 30px;
    opacity: 0;
}

a:hover{
    color: #660000;
    text-decoration: none;
}

.social {
    height: 50px;
    width: 50px;
    margin: 10px;
}

p   {
    color: #000000;
    font-family: 'Nanum Myeongjo', serif;
    margin-left: 100px;
    line-height: 1.5;
    text-align: left;
    opacity: 0;
}

.auth-image {
    margin-right: 100px;
    opacity: 0;
}




.work {
    position: relative;
    float: left;
    width: 100%;
    margin: 20px 0 25px;
    overflow: auto;
  }
  
  .work:nth-child(even) {
    margin-right: 40px;
  }
  
  .work img {
    width: 100%;
    border-style: solid;
    border-color: #777;
    border-width: 3px;
    opacity: 0.8;
  }
  
  .work h3 {
    position: absolute;
    bottom: 20px;
    width: 25%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #660000;
    text-align: center;
    background: #ffffff;
    border-bottom: 0;
  }

